<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
<ul>
  <% htmlWebpackPlugin.options.entries.forEach(function(entry){ %>
  <li><a href="./<%= entry %>.html"><%= entry %></a></li>
  <% }); %>
</ul>
</body>
</html>